*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/out

# 指定要将哪些文件添加到版本管理中
!/lib/kxml2-2.3.0.jar
!/lib/xmlpull_1_1_3_4c.jar